:root {
  --color_principal: rgba(0, 156, 228, 0.37);
  --color_secundaria: rgb(0, 154, 228);
  --color_houver: rgb(3, 116, 182);
  --font_principal: "Atkinson Hyperlegible", sans-serif;
  --cor_letras: rgb(0, 0, 0);
  --max_width: 1200px;
  --min_width: 400px;
  --espaçamento_baixo: 7em;
}

header {
background-color: var(--color_secundaria);
font-family: var(--font_principal);
display: flex;
align-items: center;
justify-content: center;
}

header img {
width: 120px;
}

nav a {
color: black;
font-family: var(--font_principal);
font-size: 25px;
text-decoration: none;
margin: 20px;
min-width: 845px;
}

.menu {
display: none;
}

header div.traco {
border-left: 6px solid black;
height: 70px;
border-radius: 5px;
width: 50px;
margin-left: -8px;
}

#usuario{
display: flex;
}

#usuario a {
padding: 10px 20px;
color: black;
background-color: rgb(56, 182, 255);
border: 2px solid black;
border-radius: 10px;
font-family: var(--font_principal);
font-size: 20px;
text-decoration: none;
}

#usuario p {
flex: 1;
margin-right: 20px;
}

#cadastro{
font-weight: bold;
}

#menuResponsivo a{
display: none;
font-family: var(--font_principal);
font-size: 21px;
text-align: center;
border: 1px solid black;
margin: 2px 0px;
padding: 8px;
color: black;
text-decoration: none;
}

#fotoUsuario{
border-radius: 50%;
width: 100px;
}

#chatbot{
display: none;
}

@media only screen and (max-width: 845px) {
.menu {
  display: block;
}

#servicos img{
  width: 400px;
}

#usuario{
  flex-direction: column;
}

#entrar{
  margin-bottom: 30px;
}

img#chatbot{
  width: 100px;
}
}