@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root{
    --color_principal: rgba(0, 156, 228, 0.37);
    --color_secundaria: rgb(0, 154, 228);
    --color_houver: rgb(3, 116, 182);
    --font_principal: 'Atkinson Hyperlegible', sans-serif;;
    --cor_letras: rgba(0, 0, 0, 0.699);
}

*{
    padding: 0px;
    margin: 0px;
}

div img{
    width: 100px;
}

.tracoStatus{
    border-left: 6px solid rgb(255, 255, 255);
    height: 7px;
    border-radius: 5px;
}

.titulo{
    color: rgb(0, 0, 0);
    background-color: var(--color_secundaria);
    font-size: 30px;
    font-family: var(--font_principal);
    text-align: center;
}

#semPedido{
    text-align: center;
    font-family: var(--font_principal);
    font-size: 40px;
    width: 45%;
    padding: 20px;
    border: 2px solid black;
    margin: 135.5px auto;
}

#semPedido a{
    font-family: var(--font_principal);
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color_secundaria);
    padding: 7px;
    border-radius: 10px;
    transition: 0.5s;
}

#semPedido a:hover{
    background-color: white;
    border: 1px solid var(--color_secundaria);
    color: var(--color_secundaria);
}

table{
    text-align: center;
    margin: 10px auto;
    width: 800px;
    height: 300px;
    font-family: var(--font_principal);
    font-size: 25px;
    font-weight: bold;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

th{
    width: 200px;
    height: 50px;
}

td{
    background-color: var(--color_principal);
}

.secundario{
    font-size: 20px;
}

#a{
    text-align: center;
    margin: 20px 0px;
}

#proximos{
    font-family: var(--font_principal);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color_secundaria);
    padding: 7px;
    border-radius: 10px;
    transition: 0.5s;
}

#proximos:hover{
    background-color: white;
    border: 1px solid var(--color_secundaria);
    color: var(--color_secundaria);
}

footer{
    margin-top: 60px;
}

@media only screen and (max-width: 845px) {
    table{
        width: 370px;
    }
}
